@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

body {
    background-color: #EFF5F9;
    font-family: 'Nanum Gothic', sans-serif;
}

#topcontainer {
    background-color:#2978B4;
    font-size: 30px;
    font-weight: 800;
    color: white;
    height: 80px;
    display : flex;
    justify-content: center;    
    align-items: center;
}

#cartcontainer {
    position : relative;    
    align-items: center;    
}

#cart {
    width: 35px;
    height: 35px;
    margin-left : 50px;
    margin-top : 18px;
}

#circle {
    background-color: #7DC1EF;
    width:20px;
    height:20px;
    border-radius: 25px;
    font-size: 15px;
    position: absolute;
    left: 80px;
    top: 10px;
    text-align: center;
}

#maincontainer {
    width: 1000px;
    height: 1000px;
    /* border : 1px solid black; */
    margin : 0 auto;
}

#maincontainer p {
    text-align: center;
    font-size: 40px;
    font-weight: 800;
}

.list {
    /* border : 1px solid yellowgreen; */
    display: flex;
}

div.image > img {
    width: 120px;
    padding : 10px;
}

.info {
    padding: 15px;
    /* border : 1px solid red; */
    width: 750px;
    display: block; 
    align-content: center;
}

.book {
    /* border : 1px solid blue; */
    font-size : 18px;
    font-weight: 700;
}

.description {
    font-size : 15px;
    font-weight: 500;
}

#price {
    /* border : 1px solid blue; */
    font-size : 15px;
    font-weight: 800;
    color: gray;
}

.count {
    padding : 15px;
}

.up > img {
    width : 15px;
}

.down > img {
    width : 15px;
}

#num1, #num2, #num3 {
    font-weight: 700;
    text-align: center;
}

#line {
    margin : 0 auto;
    margin-top: 30px;    
    border : 0.5px solid #BEC6CF;
}

#total {
    width: 900px;
    padding-top: 20px;
    margin: 0 auto;
    justify-content: space-between;
}

#total > span:nth-child(1) {
    font-weight: 800;
    font-size : 20px;
}

#total > span:nth-child(2) {
    font-weight: 800;
    font-size: 20px;
    float : right;
}
